/*Code written by Shangzhen Yang*/
footer div,
.mui-btn,
.mui-btn:enabled:active{
	color:white;
}
.bg-img{
	opacity:.5;
}
.bottom{
	border-color:rgba(255,255,255,.25);
}
.get,
.icon{
	background-color:transparent;
	border-color:rgba(255,255,255,.25);
}
.get:enabled:active{
	background-color:transparent;
	border-color:white!important;
}
.home{
	background-color:black;
}
.home-menu li{
	border-color:transparent;
}
.home-menu li:first-child{
	border-top:1px solid rgba(255,255,255,.25);
}
.home-menu li:last-child{
	border-bottom:1px solid rgba(255,255,255,.25);
}
.home-menu li:hover{
	background-color:rgba(255,255,255,.25);
}
.home-menu li:active{
	background-color:white;
	color:black;
}
.mui-btn-blue{
	background-attachment:fixed;
	background-color:rgb(21,23,24);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before{
	color:white;
}
.mui-input-range input[type=range]::-webkit-slider-thumb{
	background-color:white;
	border-color:white;
}
.mui-switch-blue.mui-active{
	background-color:rgb(21,23,24);
	border-color:rgb(109,109,114);
}
.popup button{
	color:rgb(21,23,24);
}
.popup button.active{
	background-color:rgb(21,23,24);
}
.title{
	background-attachment:fixed;
	background-color:rgb(21,23,24);
	background-position:center top;
	background-repeat:no-repeat;
	background-size:cover;
}
