/*Code written by Shangzhen Yang*/
.result{
	line-height:30px;
	user-select:text;
	-webkit-user-select:text
}
.result label{
	user-select:text;
	-webkit-user-select:text
}
.result sup{
	user-select:text;
	-webkit-user-select:text
}
.sign{
	bottom:15px;
	position:fixed;
	right:15px
}
