/*Code written by Shangzhen Yang*/
.new-msg{
	background-color:#FAFAFA;
	border:solid 1px #BBBBBB;
	border-radius:20px;
	bottom:30px;
	height:52px;
	left:0px;
	margin-left:5%;
	padding:5px 85px 5px 5px;
	position:fixed;
	width:90%
}
.send{height:40px}
.send input{
	background:white;
	border:solid 1px #DDDDDD;
	border-radius:15px;
	font-size:16px;
	height:100%;
	line-height:18px;
	padding:10px;
	width:100%
}
.send-right{
	bottom:0px;
	position:absolute;
	display:inline-block;
	height:50px;
	line-height:100%;
	padding:0px;
	right:0px;
	text-align:center;
	vertical-align:middle;
	width:80px
}
.send-right button{
	border-radius:15px;
	height:40px;
	margin:5px 5px 0px 0px;
	width:75px
}
.msg{
	border-radius:10px;
	line-height:30px;
	margin-top:10px;
	padding:10px;
	width:70%;
	user-select:text;
	-webkit-user-select:text
}
.msg-bot{
	background-color:white;
	color:black
}
.msg-me{
	background-color:#0066CC;
	color:white;
	margin-left:30%;
	text-align:right
}
