/*Code written by Shangzhen Yang*/
body{margin:40px 0px 10px}
.dict{
	margin-top:35px;
	user-select:text;
	-webkit-user-select:text
}
footer{
	background-color:#FAFAFA;
	bottom:0px;
	color:#007AFF;
	height:45px;
	line-height:45px;
	position:fixed;
	text-align:center;
	width:100%
}
footer div{
	float:left;
	height:100%;
	width:50%
}
footer div:active{background-color:#F2F2F2}
