/*Code written by Shangzhen Yang*/
html{height:100%}
body{
	background:linear-gradient(#0066CC,#004488);
	background-attachment:fixed;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	color:white;
	font-size:15px
}
.drag{
	height:85px;
	left:0px;
	position:fixed;
	top:0px;
	width:100%;
	-webkit-app-region:drag
}
.icon{
	left:40px;
	position:absolute;
	top:65px;
	-webkit-app-region:no-drag
}
.home-title{
	cursor:default;
	font-size:20px;
	left:180px;
	position:absolute;
	top:105px;
	width:calc(100% - 260px)
}
.menu{
	height:calc(100% - 265px);
	left:0px;
	overflow:auto;
	position:absolute;
	top:210px;
	width:calc(100% - 40px)
}
li{
	border-bottom:1px solid #0066CC;
	color:white;
	cursor:default;
	overflow:hidden;
	padding:11px 15px
}
li:active{
	background-color:white;
	border-radius:5px;
	color:#0066CC
}
.more{
	bottom:15px;
	color:white;
	left:15px;
	position:absolute
}
.settings{
	bottom:15px;
	color:white;
	position:absolute;
	right:15px
}
.mui-table-view-cell:active{color:#0066CC}
