/* Code written by Shangzhen Yang */
.result{
    line-height: 30px;
    -webkit-user-select: text;
    user-select: text;
}
.result label{
    -webkit-user-select: text;
    user-select: text;
}
.result sup{
    -webkit-user-select: text;
    user-select: text;
}