/*Code written by Shangzhen Yang*/
li,
li:first-child{
	border-color:transparent;
}
li:hover{
	background-color:rgba(255,255,255,.25);
}
li:active{
	background-color:rgba(255,255,255,.5);
	color:white;
}
.bg-img{
	background-image:linear-gradient(330deg,red,orange,yellow,green,blue,indigo,purple);
	opacity:.9;
}
.bottom{
	border-color:rgba(255,255,255,.25);
}
.get,
.icon{
	background-color:transparent;
	border-color:rgba(255,255,255,.25);
}
.get:enabled:active{
	background-color:transparent;
	border-color:white!important;
}
.home{
	background-color:black;
}
.mui-btn-blue{
	background-image:linear-gradient(135deg,red,orange,yellow,green,blue,indigo,purple);
}
.title{
	background-image:linear-gradient(315deg,red,orange,yellow,green,blue,indigo,purple);
}
