/*Code written by Shangzhen Yang*/
footer{
	display:none;
}
footer div{
	width:50%;
}
p{
	margin:5px;
}
p:first-of-type,
.edit ul.menu{
	margin-top:15px;
}
textarea{
	display:none;
	margin:0px;
}
.edit{
	display:none;
	margin-bottom:60px;
}
.text-view{
	background-color:white;
	border:1px solid rgba(0,0,0,.2);
	border-radius:3px;
	cursor:pointer;
	font-size:17px;
	line-height:25.5px;
	min-height:275px;
	padding:10px 15px;
	word-break:break-word;
}
