<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>rthtoolbox</string>
          </array>
          <key>CFBundleURLName</key>
          <string>RTH Toolbox</string>
        </dict>
      </array>
    <key>CFBundleDocumentTypes</key>
      <array>
        <dict>
          <key>CFBundleTypeExtensions</key>
            <array>
              <string>rth</string>
            </array>
          <key>CFBundleTypeIconFile</key>
          <string>electron.icns</string>
          <key>CFBundleTypeName</key>
          <string>RTH Toolbox file</string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>LSHandlerRank</key>
          <string>Owner</string>
        </dict>
      </array>
    <key>ElectronTeamID</key>
    <string>7564J9XM8X</string>
  </dict>
</plist>