/*Code written by Shangzhen Yang*/
body{
    font-family:"Helvetica Neue",Helvetica,sans-serif;
    text-align:center;
    user-select:none;
    -webkit-user-select:none;
}
.final{
    background-color:white;
    border-radius:50px;
    height:72%;
    left:5%;
    position:fixed;
    top:8%;
    width:90%;
}
.score{
    font-size:30px;
    line-height: 100px;
    position:absolute;
    top:10%;
    width:100%;
    
}
.like{
    bottom: 50px;
    line-height: 40px;
    position: absolute;
    width: 100%;
}
.ad{
    background-color:white;
    bottom:0px;
    height:100px;
    left:0px;
    position:fixed;
    width:100%;
}
